.section {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.section::after {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 52px);
  top: 0;
  left: -26px;
  background-color: var(--gold);
  z-index: -10;
  box-shadow: 0 -5px 6px 12px rgba(0, 0, 0, 0.1) inset;
}
.section::before {
  content: "";
  height: 100%;
  width: calc(100% + 52px);
  position: absolute;
  top: 0;
  left: -26px;
  background-image: url("/header-image.webp");
  background-size: 220px;
  filter: grayscale(1) brightness(0) opacity(.15);
  z-index: -9;
}
.imageContainer {
  width: 80%;
  height: 80vh;
  max-height: 600px;
  aspect-ratio: 1/1;
  background-color: #fdfdfd;
  position: relative;
  border-radius: 5px;
  margin-top: 1.5rem;
  box-shadow: 5px 3px 12px 6px rgb(0 0 0 / 20%);
}
.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.dataContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(45deg, #ffffff, rgb(241, 241, 241));
  margin: auto;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  box-shadow: 5px 3px 12px 6px rgb(0 0 0 / 20%);
  padding: 3rem 1rem 4rem 3rem;
  row-gap: 2.5rem;
}
.titleContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem 0 0rem
}
.title {
  font-size: 58px;
  color: rgb(27, 27, 27);
  text-align: center;
}
.stylesContainer {
  width: 50%;
  margin-left: 2rem;
  color: white;
  font-weight: normal;
  gap: 1rem;
  display: flex;
}
.stylesContainer span {
  background-color: var(--gold);
  padding: 3px 15px;
  border-radius: 3px;
}
.dataContainer > .data {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  flex: 1;
  padding: 0 0rem
}
.data p {
  line-height: 26px;
  font-size: 18px;
}
.priceContainer {
  color: var(--gold);
  font-weight: bold;
  font-size: 40px;
  display: grid;
  place-content: center;
}
.button:visited {
  color: white;
}
.button {
  padding: 22px 25px;
  background-color: rgb(23, 23, 23);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  margin-top: auto;
  position: relative;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
  box-shadow: -2px 2px 3px 1px rgba(0,0,0,.2);
  font-family: var(--prompt);
  align-self: baseline;
}
.button::after {
  content: "";
  height: 200%;
  width: 120%;
  position: absolute;
  background-color: var(--gold);
  left: -150%;
  top: -50%;
  z-index: 1;
  rotate: 10deg;
  transition: left .6s ease;
}
.button span {
  z-index: 3;
  position: relative;
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.button:hover::after {
  left: -4%
}
.button:active {
  transform: translateX(-1px) translateY(1px);
}
.deleteButton {
  position: absolute;
  height: 2rem;
  width: 2rem;
  color: red;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform .1s
}
.logo {
  filter: saturate(1.2);
  margin: auto 0 auto 1rem;
  position: absolute;
  bottom: 10px;
  right: 10px
}
.deleteButton:hover {
  transform: translateY(-3px);
}
@media (max-width: 900px) {
  .dataContainer {
    padding: 4rem 2rem
  }
  .titleContainer {
    flex-direction: column;
    padding: 0
  }
  .stylesContainer {
    margin: 0 auto;
    justify-content: center;
  }
  .data {
    display: flex!important;
    width: 70%;
    margin: 0 auto;
  }
  .button {
    margin: 0 auto
  }
}
@media (max-width: 400px) {
  .dataContainer, .imageContainer {
    width: 90%
  }
  .data {
    width: 85%
  }
}