.section {
  min-width: 100%;
  position: relative;
  background-image: linear-gradient(0deg, var(--gold) 0%, white 60%);
  z-index: 0;
  border-bottom: 2px solid var(--gold);
  box-shadow: 5px 3px 12px 6px rgba(0, 0, 0, 0.199);
}
.header {
  color: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 38%;
  width: 96%;
  margin: 0 auto;
  z-index: 1;

}
.section::before {
  content: "";
  background-image: url('/header-image.webp');
  height: 100%;
  width: 100%;
  background-size: 220px;
  background-position: center;
  background-repeat: repeat;
  background-clip: border-box;
  position: absolute;
  filter: grayscale(1) opacity(.1);
  left: 0;
  top: 0;
  z-index: -1;
}

.data {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 50px 0 0;
}
.title {
  font-size: 4rem;
  color: var(--gold);
}
.phrase {
  font-size: 16px;
  width: 96%;
  line-height: 32px;
  margin: auto 0 auto 1.5rem;
  padding-bottom: 4rem;
  letter-spacing: 1px;
  color: black;
}
.image {
  background-color: black;
  transform: scaleX(-1);
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  opacity: .85;
  object-position: 0 0;
  margin: auto 0 auto 0;
  border-radius: 10px 10px 10px 40%;
}
@media (max-width: 1245px) {
  .title {
    font-size: 3rem;
  }
}
@media (max-width: 1000px) {
  .header {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 10px;
  }
  .image {
    border-radius: 4px;
  }
  .phrase {
    padding-bottom: 10px;
  }
  .title {
    margin: 1rem 0;
    text-align: center;
  }
  .section {
    background-image: linear-gradient(180deg, var(--gold) 0%, white 60%);
  }
  .data {
    padding: 0
  }
}
@media (max-width: 800px) {
  .phrase {
    margin: 0;
    line-height: 28px;
    width: 100%
  }
}
@media (max-width: 415px) {
  .title {
    font-size: 2rem;
  }
  .phrase {
    font-size: 14px
  }
}