.section {
  width: 100%;
  min-height: 100%;
  display: flex;
  padding: 2.5rem;
  column-gap: 3rem;
  position: relative
}
.section::before {
  content: "";
  background-image: url('/header-image.webp');
  height: 100%;
  width: calc(100% + 52px);
  top: 0;
  left: -26px;
  background-size: 225px;
  background-position: center;
  background-repeat: repeat;
  background-clip: padding-box;
  position: absolute;
  filter: opacity(.15);
  z-index: -1;
}
.imageContainer {
  height: 100%;
  width: 390px;
  display: flex;
  position: relative;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 2px;
  box-shadow: -5px 5px 8px 1px rgba(0, 0, 0, 0.202);
}
.imageContainer::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -1.5rem;
  left: -1.75rem;
  z-index: -1;
  border-radius: 3px;
  background-color: var(--gold);
}
.dataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.202);
  border-radius: 3px;
  background-image: linear-gradient(180deg, white 0%, rgba(250,255,255,.05) 25%, rgb(246, 255, 254) 100%);
  row-gap: 2rem;
  padding: 0 3rem 2.5rem 3rem;
  position: relative;
}
.name {
  font-size: 55px;
  color: var(--gold);
  margin-top: 10px;
  text-align: center;
}
.imageName {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 4;
  font-size: 38px;
  font-weight: normal;
}
.description {
  font-size: 19px;
  width: 50%;
  font-weight: bold;
  letter-spacing: 2px;
}
.description span {
  color: #6423a1;
}
.tagsContainer {
  position: absolute;
  top: 0;
  right: -1.8rem;
  padding: 1.5rem 0;
}
.dataContainer::after {
  content: "";
  width: 3rem;
  height: 100%;
  background: linear-gradient(90deg, transparent 0%, var(--gold) 50%);
  position: absolute;
  top: 1.5rem;
  right: -1.5rem;
  z-index: -1;
  border-radius: 3px;
}
.dataContainer::before {
  content: "";
  width: 100%;
  height: 3rem;
  background-color: var(--gold);
  position: absolute;
  bottom: -1.5rem;
  right: -1.5rem;
  z-index: -1;
  border-radius: 3px;
}
.tagsContainer, .tagsContainer div {
  display: flex;
  column-gap: .25rem;
  align-items: center;
  text-orientation: upright;
  writing-mode: vertical-rl;
}
.tagsContainer div {
  font-weight: bold;
  color: white;
  padding: 0 5px 0 0;
}
.button {
  padding: 22px 25px;
  background-color: rgb(23, 23, 23);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  margin-top: auto;
  position: relative;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
  box-shadow: -2px 2px 3px 1px rgba(0,0,0,.2);
  font-family: var(--prompt);
}
.button::after {
  content: "";
  height: 200%;
  width: 120%;
  position: absolute;
  background-color: var(--gold);
  left: -150%;
  top: -50%;
  z-index: 1;
  rotate: 10deg;
  transition: left .6s ease;
}
.button span {
  z-index: 3;
  position: relative;
}
.button:hover::after {
  left: -4%
}
.button:active {
  transform: translateX(-1px) translateY(1px);
}
@media (max-width: 1080px) {
  .dataContainer {
    padding: 0 10px 1rem 10px;
  }
  .description {
    margin: auto 0
  }
}
@media (max-width: 1020px) {
  .description {
    font-size: 16px;
  }
  .name {
    font-size: 45px;
  }
  .button {
    font-size: 13px;
  }
}
@media (max-width: 910px) {
  .imageContainer {
    width: 300px
  }
}
@media (max-width: 815px) {
  .section {
    flex-direction: column;
    padding: 0;
    min-height: auto;
  }
  .imageContainer {
    width: 100%;
    height: 80vh;
    border-radius: 0;
  }
  .imageContainer::after {
    left: 0;
    top: 0;
    border-radius: 0;
  }
  .image {
    object-fit: contain;
    transform: none!important;
  }
  .dataContainer {
    min-height: 80vh;
    background-image: linear-gradient(180deg, white 0%, rgba(250,255,255,0.5) 65%, rgb(246, 255, 254) 100%);
    box-shadow: none;
    border-radius: 0;
  }
  .dataContainer::after, .dataContainer::before {
    content: none;
  }
  .description, .button {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .imageContainer::after {
    content: "";
    box-shadow: 0px -70px 19px -14px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px -70px 19px -14px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px -70px 19px -14px rgba(0,0,0,0.75) inset;
    z-index: 2;
    background-color: transparent;
  }
  .imageContainer {
    height: auto;
  }
  .name {
    display: none;
  }
  .imageName {
    display: block;
  }
  .dataContainer {
    min-height: auto;
    padding: 2rem 0;
    row-gap: 5rem ;
  }
}